.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
    margin-bottom: 14px;
}

nav img {
    width: 144px;
    height: 32px;
    margin: 20px 20px 0px 40px;
}

nav span {
    font-size: 16px;
    border-left: 1px solid #ccc;
    padding: 4px 0 4px 14px;
    margin: 0px;
    color: #888;
    position: absolute;
    top: 20px;
}

nav ul {
    position: absolute;
    top: 12px;
    right: 40px;
    text-align: right;
    list-style: none;
}

nav ul a {
    float: left;
    font-variant: small-caps;
    text-decoration: none;
}

nav ul a li {
    font-size: 10px;
    color: #666;
    margin-left: 16px;
}

.VerticalBar {
    margin-right: 12px;
}

.VerticalBar::after {
    content: "";
    height: 12px;
    width: 1px;
    border-left: 1px solid #c2c2c2;
    display: inline-block;
    vertical-align: top;
    margin-top: -14px;
    margin-right: -15px;
}

body main {
    background: #EDC1A6;
}

main .card {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 640px;
    background: url(./img/12.png);
    margin-bottom: 50px;
}

main .card .picture {
    float: left;
    width: 650px;
    height: 640px;
    position: relative;
}

main .card .picture a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: url(./img/12.png);
}

main .card .user {
    float: right;
    width: 400px;
    background: #fff;
    margin-top: 50px;
    margin-right: 50px;
    position: relative;
    border-radius: 3px;
}

main .card .user .pad {
    padding-left: 30px;
    padding-right: 30px;
}

main .card .user h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 41px;
    margin-bottom: 33px;
}

main .card .user .QRCode {
    position: absolute;
    top: 12px;
    right: 8px;
    width: 50px;
    height: 50px;
}

main .card .user .pad .userBlock {
    border: 1px solid rgb(218, 218, 218);
    min-width: 340px;
    margin-bottom: 22px;
}

main .card .user .pad .userBlock:focus-within {
    border: 1px solid rgb(26, 153, 92);
}

main .card .user .pad .userBlock img {
    float: left;
    color: rgb(166, 166, 166);
    padding: 12px 6px 14px 10px;
    width: 20px;
    height: 20px;
}

main .card .user .pad .userBlock .rear {
    float: left;
    position: relative;
}

main .card .user .pad .userBlock .rear .userInput {
    width: 203px;
    height: 46px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    padding-left: 8px;
    padding: 0 2px 0 8px;
}

main .card .user .pad .userBlock .rear .userInput::-webkit-input-placeholder {
    color: rgb(209, 209, 209);
    font-size: 14px;
    font-weight: 300;
}

main .card .user .pad .userBlock .rear span {
    position: absolute;
    height: 46px;
    right: -80px;
    color: rgb(102, 102, 102);
    line-height: 43px;
}

main .card .user .pad .checkbox-select {
    background: url(./img/ico-checked.jpg);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

main .card .user .pad .checkbox-select .checkBox {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    outline: none;
    position: relative;
    top: -1px;
    cursor: pointer;
}

main .card .user .pad .checkbox-select .checkBox:checked {
    opacity: 0;
}

main .card .user .pad .text {
    font-size: 14px;
    color: #999;
    line-height: 16px;
    position: absolute;
    left: 24px;
    cursor: pointer;
}

main .card .user .pad .text:hover {
    color: rgb(102, 102, 102);
}

main .card .user .pad .forgetPassword {
    text-decoration: none;
    color: #0FAB61;
    font-size: 14px;
    position: absolute;
    right: 37px;
    top: 237px;
}

main .card .user .pad button {
    width: 340px;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    background: #1a995c;
    border-radius: 4px;
    line-height: 50px;
    cursor: pointer;
    margin: 22px 0 17px 0;
}

main .card .user .pad button:hover {
    background: rgb(15, 171, 97);
}

main .card .user .pad .register {
    text-decoration: none;
    color: #0FAB61;
    font-size: 14px;
    float: left;
}

main .card .user .pad .app {
    float: right;
    text-decoration: none;
    color: #0FAB61;
    font-size: 14px;
}

main .card .user .banner {
    height: 70px;
    width: 400px;
    margin-top: 100px;
    background: #FAFAFA;
}

main .card .user .banner .member {
    display: inline-block;
    height: 40px;
    width: 340px;
    margin: 16px 30px 0 30px;
    background: url(./img/mail-index-bottom-gg-9.png) no-repeat;
    background-size: cover;
}

main .card .picture .advertising {
    position: absolute;
    bottom: 52px;
    left: 72px;
    width: 22px;
    height: 14px;
}
main .card .picture .themeCtrl{
    position: absolute;
    bottom: 46px;
    right: 58px;
}
main .card .picture .themeCtrl .prevTheme{
    width: 25px;
    height: 25px;
    margin-right: 1px;
}
main .card .picture .themeCtrl .nextTheme{
    width: 25px;
    height: 25px;
    margin-left: 1px;
}
footer{
    text-align: center;
}
footer .footer-nav ul{
    margin: 0 0 9px 0;
}
footer .footer-nav ul li{
    list-style: none;
    display: inline-block;
}
footer .footer-nav ul li a{
    text-decoration: none;
    color: #666;
    font-size: 12px;
    border-left: 1px solid #cecece;
    padding-left: 11px;
    margin-left: 6px;
}
footer .footer-nav ul li .first{
    border:none;
    padding: 0;
    margin: 0;
}
footer .footer-certification ul {
    margin: 0px
}
footer .footer-certification ul li{
    list-style: none;
    display: inline-block;
}
footer .footer-certification ul li a{
    text-decoration: none;
    color: #848585;
    font-size: 12px;
}
footer .footer-certification ul li img{
    margin:0;
    padding: 0;
}
.changeColor:hover{
    color: #626262;
}